<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--测试公用地址-->
    <add key="ApiPath" value="http://10.3.0.79:1234/WebServiceTest.asmx/" />
    <!--数据库地址-->
    <!--<add key="connectionString"
         value="server=localhost;port=3306;database=cmaplatform;user id=root;password=frontfree;" />-->
    <add key="connectionString"
         value="server=10.0.0.116;port=3306;database=cmaplatform;user id=root;password=frontfree;" />
    <!--是否使用测试服务器：0、测试服务器1、正式服务器-->
    <!--<add key="DataType" value="1" />-->
    <add key="DataType" value="0" />
    <!--是否使用测试数据-->
    <!--<add key="IsTestData" value="false" />-->
    <add key="IsTestData" value="true" />
    <!--三维加载延迟-->
    <add key="delaySeconds" value="14" />
    <!--全国大喇叭-->
    <add key="getYJSSGeneralData" value="http://10.14.83.151:40001/" />
    <!--信息员、灾情上报情况-->
    <add key="getXXYGeneralData" value="http://10.14.83.72:8787/" />
    <!--预警总数信息员数量统计-->
    <add key="getCountOfEffectWarning" value="http://10.14.83.151:13001/earlyWarning/" />
    <!--预警准确率-->
    <add key="getAccuracyOfWarning" value="http://10.14.83.151:13001/earlyWarning/" />
    <!--34个省份数据-->
    <add key="infos" value="http://10.14.83.151:24000/analyse/provine/" />
    <!--单个省份详细数据-->
    <add key="percent" value="http://10.14.83.151:24000/analyse/uploaded/file/" />
    <!--突发事件数据-->
    <add key="getRecEmergencise" value="http://10.14.83.151:23009/emergency/" />
    <!--风险态势数据-->
    <add key="GetRiskSituationList" value="http://10.14.83.151:13005/" />
    <!--极端天气数据-->
    <add key="ExemtremeData" value="" />
    <!--获取Poi个数-->
    <add key="getPoiCount" value="http://10.14.83.151:23002/poi/" />
    <!--获取Poi隐患点经纬度-->
    <add key="getCoord" value="http://10.14.83.151:23002/poi/" />
    <!--综合查询_风险态势_台风事件-->
    <add key="getTyphoonAllList" value="http://10.14.83.72:8990/typhoon/" />
    <!--综合查询_风险态势_预警信息-->
    <add key="getWarningByEventType" value="http://10.14.83.151:13001/earlyWarning/" />
    <!--舆情热点-->
    <add key="action" value="http://10.14.83.72:8880/Meteorology/weatherDisasterEvents." />
    <!--事件页预警落区接口-->
    <add key="code" value="http://10.14.83.151:24000/static/diluting/type/area/" />

    <!--事件页预警概要描述-->
    <add key="getWarningByIdentifier" value="http://10.14.83.151:13001/earlyWarning/" />

    <!--获取突发事件站点-->
    <add key="station" value="http://10.14.83.151:24100/data/closest/" />
    <!--根据突发事件获取高程-->
    <add key="elevation" value="http://10.14.83.151:24100/data/elevation/data" />

    <!--泳道图部分-->
    <!--获取灾情舆情列表-->
    <!--暂无-->
    <!--台风接口-->
    <add key="getTyphoonMessageById2" value="http://10.14.83.72:8990/typhoon/" />
    <!--台风落区-->
    <add key="getTyphoonWarningsByTime" value="http://10.14.83.151:13001/earlyWarning/" />
    <!--台风预警-->
    <add key="getWarningsOfTyphoon" value="http://10.14.83.151:13001/earlyWarning/" />
    <!--预警台风路径-->
    <add key="getTyphoonByTime" value="http://10.14.83.72:8990/typhoon/" />
    
    <!--获取服务列表-->
    <add key="findDecisionFiles" value="http://10.14.83.151:23010/df/" />
    <!--获取相关预警事件列表-->
    <add key="getWarningByTime" value="http://10.14.83.151:13001/earlyWarning/" />
    <!--获取达到红橙黄蓝预警指标的气象站个数-->
    <add key="GetWarningNumber" value="http://10.14.83.151:30009/" />
    <!--获取符合预警指标气象站的时刻数据-->
    <add key="GetWarningStationData" value="http://10.14.83.151:30009/" />
    <!--事件页极值接口-->
    <add key="getPeakDataByTimeRegionAndRegion" value="http://10.14.83.151:8006/peakValue/" />
    <!--突发事件右下-->
    <add key="forecast1" value="http://10.14.83.151:13099/data/live/" />
    <!--单站点暴雨数据-->
    <add key="forecast" value="http://10.14.83.151:13099/data/rain/live/" />
    <!--单站点寒潮数据-->
    <add key="wave" value="http://10.14.83.151:13099/data/clod/" />
    <!--单站点大风数据-->
    <add key="live" value="http://10.14.83.151:13099/data/wind/" />
    <!--单站点暴雨寒潮大风标注-->
    <add key="GetWarningSignTime" value="http://10.14.83.151:30009/" />

    <!--事件页预警详情信息员数据-->
    <add key="getXXYGeneralDataAboutEarlyWarning" value="http://10.14.83.72:8787/" />
    <!--事件页预警详情预警责任人数据-->
    <add key="getDutyPersonNumAboutEarlyWarning" value="http://10.14.83.151:40001/" />
    <!--事件页预警详情预警流程数据-->
    <add key="getSendProcessInfoAboutEarlyWarning" value="http://10.14.83.151:40001/" />
    <!--事件页预警详情发布手段数据-->
    <add key="getSendResultInfoAboutEarlyWarning" value="http://10.14.83.151:40001/" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>